@charset "ISO-8859-1";
body{
    font-family:sans-serif;
    box-sizing:border-box;
}
.signup-box{
    border-radius: 20px;
    padding: 7px;
    margin: 7px 0;
    width: 360px;
    height: 600px;
    margin: auto;
    background-color: rgba(246, 252, 253, 0.877);
    border-radius: 3px;
    text-align: center;
}
body{
    display: flex;
    justify-content: left;
    flex-direction: column;
    height: 100vh;
}
form{
    width: 300px;
    margin-left: 20px;
    text-align: center;
}
form label{
    display: flex;
    margin-top: 20px;
}
.input-box
{
    border-radius: 15px;
    padding: 7px;
    margin: 7px 0;
    width:90%;
    border: 1px solid #999;
    outline: none;


}
